# 라이브러리 선언

In [2]:
import pandas as pd

### 1. 데이터 불러오기

In [1]:
pirLink = "https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002554243&fileDetailSn=1&dataNm=%ED%95%9C%EA%B5%AD%EC%A3%BC%ED%83%9D%EA%B8%88%EC%9C%B5%EA%B3%B5%EC%82%AC_%EC%A7%80%EC%97%AD%EB%B3%84%20PIR%20%EB%B0%8F%20LIR_20211231"

In [6]:
indata = pd.read_csv(pirLink, encoding="ms949")

In [9]:
indata.tail(3)

,연도,월,전국소득대비 주택가격 비율,서울소득대비 주택가격 비율,부산소득대비 주택가격 비율,대구소득대비 주택가격 비율,인천소득대비 주택가격 비율,광주소득대비 주택가격 비율,대전소득대비 주택가격 비율,울산소득대비 주택가격 비율,...,세종 평균 연소득 대비 평균 대출금액,경기 평균 연소득 대비 평균 대출금액,강원 평균 연소득 대비 평균 대출금액,충북 평균 연소득 대비 평균 대출금액,충남 평균 연소득 대비 평균 대출금액,전북 평균 연소득 대비 평균 대출금액,전남평균 연소득 대비 평균 대출금액,경북 평균 연소득 대비 평균 대출금액,경남 평균 연소득 대비 평균 대출금액,제주 평균 연소득 대비 평균 대출금액
210,2021,9,6.70,8.76,7.75,6.99,7.83,6.56,7.14,6.08,...,4.11,4.27,2.79,2.72,3.15,2.96,3.52,2.88,3.06,3.86
211,2021,10,6.69,8.55,6.91,7.67,8.92,7.17,6.72,6.65,...,4.85,4.53,2.98,2.58,2.99,2.71,3.11,2.87,2.98,4.59
212,2021,11,7.10,0.00,10.75,15.29,12.03,7.47,7.11,7.42,...,0.00,4.36,2.28,1.71,3.89,1.89,2.69,3.47,3.65,6.62

### 2. github데이터 불러오기

In [10]:
csDataUrl = "https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/customerdata.csv"

In [12]:
customerData = pd.read_csv(csDataUrl)

### 3. 클립보드 데이터 불러오기

In [15]:
myclipData = pd.read_clipboard()

In [18]:
myclipData.to_csv("d:aa.csv",encoding="ms949")

### 4. 데이터베이스 (psycopg2) 데이터 불러오기

In [4]:
# postgresql접속용 라이브러리
# oracle(cxOracle), mariadb
import psycopg2
# 데이터 처리용 라이브러리
import pandas as pd
# 데이터베이스 접속 엔진 생성용 라이브러리
from sqlalchemy import create_engine 

# 데이터베이스 접속 엔진 생성
engine_pg = create_engine('postgresql://kopo:kopo@139.150.80.154:5432/kopo')

In [10]:
targetTable = "kopo_product_volume"

selloutData = pd.read_sql_table(table_name=targetTable, 
                  con=engine_pg)

engine_pg.table_names()

C:\Users\kopo\AppData\Local\Temp/ipykernel_14192/1498497353.py:6: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine_pg.table_names()

['kopo_product_volume', 'kopo_product_utf8', 'employee', 'employee2']

In [11]:
type(selloutData)

pandas.core.frame.DataFrame

### 한국부동산원 오피스텔 동향조사

In [12]:
import pandas as pd

In [16]:
linkData = "https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002579917&fileDetailSn=1&dataNm=%ED%95%9C%EA%B5%AD%EB%B6%80%EB%8F%99%EC%82%B0%EC%9B%90_%EC%98%A4%ED%94%BC%EC%8A%A4%ED%85%94%20%EA%B0%80%EA%B2%A9%EB%8F%99%ED%96%A5%EC%A1%B0%EC%82%AC_%EB%A7%A4%EB%A7%A4%EA%B0%80%EA%B2%A9(%EC%A7%80%EC%97%AD%EB%B3%84)_20220630"

In [17]:
pd.read_csv(linkData, encoding="ms949")

,지역,2020-07(평균매매가격),2020-07(평균단위당매매가격),2020-07(중위매매가격),2020-07(중위단위당매매가격),2020-08(평균매매가격),2020-08(평균단위당매매가격),2020-08(중위매매가격),2020-08(중위단위당매매가격),2020-09(평균매매가격),...,2022-04(중위매매가격),2022-04(중위단위당매매가격),2022-05(평균매매가격),2022-05(평균단위당매매가격),2022-05(중위매매가격),2022-05(중위단위당매매가격),2022-06(평균매매가격),2022-06(평균단위당매매가격),2022-06(중위매매가격),2022-06(중위단위당매매가격)
0,전국,203454,5272,190155,4997,203677,5275,190471,5001,203788,...,197403,5196,216933,5461,197477,5212,217133,5466,197697,5222
1,수도권,217040,5751,202398,5434,217289,5755,202578,5439,217452,...,210237,5684,232181,5981,210329,5704,232453,5987,210604,5716
2,지방,147304,3295,139555,3191,147416,3292,140430,3190,147313,...,144360,3178,153913,3314,144360,3178,153816,3311,144353,3176
3,서울,251315,7342,235222,7064,251560,7347,235548,7075,251667,...,245582,7334,263331,7554,245520,7367,263804,7566,245944,7384
4,서울 도심권,310153,8155,307248,7901,310413,8162,307313,7901,310497,...,319684,7954,322471,8396,320010,7979,322820,8404,320429,8000
5,서울 동북권,166160,5751,162059,5416,166187,5749,161870,5428,166371,...,167765,5566,171382,5887,167765,5566,171430,5888,167811,5566
6,서울 서북권,233877,7629,207423,7353,233941,7627,207490,7355,233888,...,210447,7310,236705,7603,210606,7312,237062,7617,210606,7361
7,서울 서남권,233015,6841,216063,6744,233303,6847,216915,6747,233507,...,228784,7150,248199,7075,228343,7195,248563,7082,228963,7189
8,서울 동남권,307776,8424,287112,7919,308153,8435,287196,7949,308169,...,299367,8287,323148,8744,299553,8338,324079,8770,300104,8376
9,부산,160715,3494,150766,3371,160919,3491,152011,3372,160802,...,158145,3353,169697,3523,158212,3353,169593,3519,158212,3353
10,대구,134276,3537,128703,3477,134188,3535,129042,3467,134075,...,127587,3412,133879,3499,127418,3412,133646,3493,127265,3400
11,인천,147047,3112,142783,2886,146982,3110,142783,2884,146936,...,152465,3051,157628,3269,152419,3048,157468,3265,152533,3039
12,광주,96035,2337,92105,2211,96011,2336,92105,2205,95940,...,93597,2216,98132,2352,93835,2225,98151,2348,93954,2219
13,대전,109427,2253,103369,2159,109446,2251,103703,2158,109387,...,106131,2206,116506,2325,105769,2200,116478,2324,105769,2195
14,울산,157671,3250,160227,3248,157330,3241,160227,3248,157068,...,156789,3251,157999,3194,156598,3251,157947,3193,156598,3251
15,세종,96372,3581,94656,3587,96929,3599,94656,3587,97500,...,94534,3663,98014,3633,94534,3663,98014,3633,94534,3663
16,경기,201307,4809,184764,4416,201670,4813,184837,4417,201970,...,189026,4671,221667,5085,189347,4685,221856,5090,189503,4700

### 3. json api 데이터 불러오기

In [38]:
testData = [ {"TBL_NM": "ABC", "PRD_DE" : "202001"}]

In [55]:
# JSON string:
# Multi-line string
x = """
    {"TBL_NM": "ABC", "PRD_DE" : "50"}
    """
  
# parse x:
y = json.loads(x)

In [73]:
testString ='[{"TBL_NM": "ABC", "PRD_DE" : "50"},\
            {"TBL_NM": "ABC", "PRD_DE" : "60"} ]'
    
# Convert string to Python dict 
employee_dict = json.loads(employee) 
pd.DataFrame(employee_dict)

  TBL_NM PRD_DE
0    ABC     50
1    ABC     60

In [40]:
json.load(testData)

AttributeError: 'list' object has no attribute 'read'

In [39]:
pd.read_json(testData)

ValueError: Invalid file path or buffer object type: <class 'list'>

In [37]:
# import json

In [35]:
# json.load((testData)

In [31]:
# pd.read_json(testData)

In [18]:
jsonAddress = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=MjUzMTdiMjcyZjQwY2VkMWJkY2RkYTRmZDkwMWQ3ZGY=&itmId=T20+T21+T22+&objL1=00+11+26+27+28+29+30+31+36+41+42+43+44+45+46+47+48+50+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&newEstPrdCnt=3&orgId=101&tblId=DT_1B040A3"

In [21]:
indata = pd.read_json(jsonAddress)
indata

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,행정구역(시군구)별 성별 인구수,202210,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,51459626,M,0,전국,Whole country
1,행정구역(시군구)별 성별 인구수,202211,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,51450829,M,0,전국,Whole country
2,행정구역(시군구)별 성별 인구수,202212,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,51439038,M,0,전국,Whole country
3,행정구역(시군구)별 성별 인구수,202210,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,25649509,M,0,전국,Whole country
4,행정구역(시군구)별 성별 인구수,202211,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,25643889,M,0,전국,Whole country
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,행정구역(시군구)별 성별 인구수,202211,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,339758,M,50,제주특별자치도,Jeju-do
158,행정구역(시군구)별 성별 인구수,202212,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,339590,M,50,제주특별자치도,Jeju-do
159,행정구역(시군구)별 성별 인구수,202210,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,338593,M,50,제주특별자치도,Jeju-do
160,행정구역(시군구)별 성별 인구수,202211,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,338615,M,50,제주특별자치도,Jeju-do
161,행정구역(시군구)별 성별 인구수,202212,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,338569,M,50,제주특별자치도,Jeju-do